body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  width: 60vh;
  height: 40vh;
  margin: 10px auto;
  border: 3px solid black;
  padding: 15px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}

.navbar li {
  margin: 0 100px;
  color: white;
}
